openapi: 3.0.1

info:
  title: gpt-2-large
  description: |
      This server provide predict next word using gpt-2-large model from [openai github](https://github.com/openai/gpt-2)
  version: "0.1"
servers:
  - url: https://main-gpt-2-server-gkswjdzz.endpoint.ainize.ai
paths:
  /preprocess:
    post:
      tags:
      - pytorch-gpt-2-large
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
              example: {
                "context": "there is a boy"
              }
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: string
                example: "[8117, 318, 257, 2933]"
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /postprocess:
    post:
      tags:
      - pytorch-gpt-2-large
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: array
                items:
                  type: integer
              example: [
                [
                  3666,
                  1438,
                  318,
                  685,
                  3672,
                  286
                ],
                [
                  3666,
                  1438,
                  318,
                  3271,
                  11,
                  290
                ],
                [
                  3666,
                  1438,
                  318,
                  3271,
                  290,
                  314
                ],
                [
                  3666,
                  1438,
                  318,
                  1757,
                  1,
                  373
                ],
                [
                  3666,
                  1438,
                  318,
                  4186,
                  350,
                  2852
                ]
              ]
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: object
                    properties:
                      text: string
                example: {
                  "0": {
                    "text": "My name is [name of"
                  },
                  "1": {
                    "text": "My name is David, and"
                  },
                  "2": {
                    "text": "My name is David and I"
                  },
                  "3": {
                    "text": "My name is John\" was"
                  },
                  "4": {
                    "text": "My name is Tom Poul"
                  }
                }
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /torch-serve:
    post:
      tags:
      - pytorch-gpt-2-large
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                context:
                  type: string
                  default: "Hi my name is "
                numResultsRequest:
                  type: number
                  default: 3
                length:
                  type: number
                  default: 4
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: string
                example: {
                  "0": "Hi my name very good!!! Im jim"
                }
        '400':
          description: Bad Request
        '500':
          description: Server side error
  /large:
    post:
      tags:
      - tensorflow-gpt-2-large
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                context:
                  type: string
                length:
                  type: string
                  enum: ['1', x]
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Bad Request
        '500':
          description: Server side error
tags:
- name: pytorch-gpt-2-large
- name: tensorflow-gpt-2-large